# Ignore massive datasets and zips
data/
PathVQA/
Kvasir/
VQA-RAD/
ms-cxr-making-the-most-of-text-semantics-to-improve-biomedical-vision-language-processing-1.1.0/
*.zip
*.parquet

# Ignore large PDFs and CSV data
*.pdf
*.csv

# Ignore local virtual environment and checkpoints
.venv/
models/*.pth
models/*.pt
outputs/

# Ignore Python caches
__pycache__/
*.pyc

# Ignore duplicate images and OS junk
.DS_Store
* (*).png
MD TMI/
Output 5 Sep 2026/
